@{

Layout="~/_Layout.cshtml";
Page.Title="Edit Movie";
    

    var db=Database.Open("WebPagesMovies");
    var qstring="select * from Movies";
    var movies=db.Query(qstring);

    var grid=new WebGrid(source : movies,defaultSort: "Year");

}



            <div class="page-header">
                <h3>Edit Movie Information</h3>
                 </div>
            <div class="row">
                <div class="col-md-10" style="padding-left: 10px;">
                <ul class="list-inline">
                    <li><a href="@Href("~/ListMovies")">Back to Movies List</a></li>
                    </ul>
                 </div>
                </div>
            <div class="row" style="margin-top: 20px;">
                <div class="col-md-11 well">
                    
                     @grid.GetHtml(
                tableStyle: "table table-striped table-bordered",
                columns: grid.Columns(          
                    grid.Column("Title"),
                    grid.Column("Genre"),
                    grid.Column("Year"),
                    grid.Column(format:@<a href="@Href("~/UpdateMovie",@item.ID)">Edit</a>),
                    grid.Column(format:@<a href="@Href("~/DeleteMovie",@item.ID)">Delete</a>)
                )
            )

                     </div>
                 </div>
           